* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

body, html {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Sour Gummy', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    border: 1px solid grey;
    border-radius: 15px;
    padding: 30px;
    gap: 10px;
    background-color: seashell;
}

.titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 26px;
}

.api-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    color: #205756;
}

h2, p, h4 {
    color: #205756;
}

/* Ensure the label is on top and centered */
form label {
    display: block;
    text-align: center; /* This aligns the label text in the center */
    margin-bottom: 10px;
}

/* Style the form input fields */
form input[type="text"] {
    width: 100%; /* Makes the input take the full width of the form */
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 15px; /* Space between input fields */
    display: block;
}

/* Optional: Style the submit button */
form button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.weather-icon {
    width: 100px;
    height: auto;
    padding: 10px;
    background-color: #0aa5c3;
    border: 3px solid #0aa5c3;
    border-radius: 50%;
}
