{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>weather_app</title>
    <link rel="stylesheet" href="{% static '/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sour+Gummy&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
    <section class="titles">
        <h2>Know the Weather</h2>
        <h4>with</h4>
        <h2>The Weather App</h2>
    </section>

    <section class="api-data">
        <form id="input-form" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Get Weather</button>
        </form>

        {% if weather_data %}
            {% if weather_data.error %}
                <p>{{ weather_data.error }}</p>
            {% else %}
                <img class="weather-icon"
                     src="http://openweathermap.org/img/wn/{{ weather_data.weather.0.icon }}.png"
                     alt="{{ weather_data.weather.0.description }}">
                <h2>Weather in {{ weather_data.name }}</h2>
                <p>Temperature: {{ weather_data.main.temp }}°C</p>
                <p>Weather: {{ weather_data.weather.0.description }}</p>
                <p>Humidity: {{ weather_data.main.humidity }}%</p>
                <p>Wind Speed: {{ weather_data.wind.speed }} m/s</p>
            {% endif %}
        {% endif %}
    </section>
</div>
</body>
</html>